@use 'sass:color';
@use '@/styles/elements';
@use '@/styles/variables';

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .dataURLs {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;

        .itemEnter {
            height: 0;
            opacity: 0;
            margin-bottom: -0.5rem;
            border-width: 0;
        }

        .itemEnterActive {
            height: calc(1.25rem + 2.1rem + 3.75rem + 2rem);
            opacity: 1;
            margin-bottom: 0;
            border-width: 1px;
            transition: all 500ms ease-in;
        }

        .card {
            .header {
                .name {
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 1.1;

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .content {
                .dataURL {
                    display: -webkit-box;
                    height: 3.75rem;

                    overflow: hidden;
                    overflow-wrap: anywhere;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
