@use '@/styles/variables';

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 4vh 1rem 10vh;

    @media screen and (min-width: variables.$breakpoint-small) {
        padding: 4vh 2rem 10vh;
    }
}
